Repository movito/agentive-starter-kit: changes, and which pre-commit hooks are due for each by the changed paths.
All: pattern-lint, validate-task-status

pattern-lint:
  name: Check for common code patterns (DK rules)
  entry: python3 scripts/pattern_lint.py
  language: system
  stages:
  - pre-commit

validate-task-status:
  name: Validate task status matches folder
  entry: python scripts/validate_task_status.py
  language: python
  pass_filenames: true
  stages:
  - pre-commit

fix: Set concrete Serena project name in v3 agents
  .claude/agents/feature-developer-v3.md
  .claude/agents/planner2.md
Due: none

docs(ASK-0037): Add LINEAR-SYNC-BEHAVIOR.md reference document
  delegation/tasks/3-in-progress/ASK-0037-workflow-verify-docs-only.md
  docs/LINEAR-SYNC-BEHAVIOR.md
Due: validate-task-status

fix: Add anti-delegation instruction to feature-developer-v3
  .claude/agents/feature-developer-v3.md
Due: none

fix: Add pattern lint tests to restore CI coverage
  tests/test_pattern_lint.py
Due: pattern-lint

chore: Remove isolation: worktree from agents
  .claude/agents/feature-developer-v3.md
  .claude/agents/planner2.md
Due: none

fix: Pin Black to 23.12.1 to match pre-commit config
  pyproject.toml
Due: none

fix: Reformat sync_tasks_to_linear.py for Black 23.12.1
  scripts/sync_tasks_to_linear.py
Due: pattern-lint

fix: Remove hallucinated daemon commands from LINEAR-SYNC-BEHAVIOR.md
  docs/LINEAR-SYNC-BEHAVIOR.md
Due: none

fix: Remove stale "task monitor" wording from doc intro
  docs/LINEAR-SYNC-BEHAVIOR.md
Due: none

ASK-0037: Add Linear sync behavior reference document (#20)
  delegation/tasks/3-in-progress/ASK-0037-workflow-verify-docs-only.md
  docs/LINEAR-SYNC-BEHAVIOR.md
  pyproject.toml
  scripts/sync_tasks_to_linear.py
Due: pattern-lint, validate-task-status

chore: Move ASK-0037 to 5-done after completion
  delegation/tasks/5-done/ASK-0037-workflow-verify-docs-only.md
Due: validate-task-status

feat(ASK-0038): Add root-level CLAUDE.md architecture overview
  CLAUDE.md
  delegation/tasks/3-in-progress/ASK-0038-workflow-verify-architecture-overview.md
Due: validate-task-status

fix: Strengthen anti-delegation instruction in feature-developer-v3
  .claude/agents/feature-developer-v3.md
Due: none

fix(ASK-0038): Use actual pre-commit hook IDs in CLAUDE.md
  CLAUDE.md
Due: none

chore(ASK-0038): Add review starter and move task to in-review
  .agent-context/ASK-0038-REVIEW-STARTER.md
  delegation/tasks/4-in-review/ASK-0038-workflow-verify-architecture-overview.md
Due: validate-task-status

fix(ASK-0038): Remove absolute paths and hardcoded version
  .agent-context/ASK-0038-REVIEW-STARTER.md
  CLAUDE.md
Due: none

feat(ASK-0038): Add root-level CLAUDE.md architecture overview (#21)
  .agent-context/ASK-0038-REVIEW-STARTER.md
  CLAUDE.md
  delegation/tasks/4-in-review/ASK-0038-workflow-verify-architecture-overview.md
Due: validate-task-status

chore: Prep ASK-0039 handoff + apply retro actions from ASK-0037/0038
  .agent-context/ASK-0039-HANDOFF-feature-developer-v3.md
  .agent-context/agent-handoffs.json
  .claude/settings.json
  .claude/skills/review-handoff/SKILL.md
  delegation/tasks/5-done/ASK-0038-workflow-verify-architecture-overview.md
Due: validate-task-status

feat(ASK-0039): Add DK004 lint rule — detect bare except Exception: pass
  .adversarial/inputs/ASK-0039-spec-compliance-input.md
  delegation/tasks/3-in-progress/ASK-0039-workflow-verify-full-tdd-lifecycle.md
  scripts/pattern_lint.py
  scripts/validate_task_status.py
  tests/test_pattern_lint.py
Due: pattern-lint, validate-task-status

chore(ASK-0039): Add evaluator input and review artifacts
  .adversarial/inputs/ASK-0039-code-review-input.md
  .agent-context/reviews/ASK-0039-evaluator-review.md
Due: none

fix(ASK-0039): Simplify _is_swallowed — remove dead code loop
  scripts/pattern_lint.py
Due: pattern-lint

chore(ASK-0039): Add review starter and move task to in-review
  .agent-context/ASK-0039-REVIEW-STARTER.md
  delegation/tasks/4-in-review/ASK-0039-workflow-verify-full-tdd-lifecycle.md
Due: validate-task-status

chore: Apply ASK-0039 retro actions — reduce bot noise, document evaluators
  .claude/skills/code-review-evaluator/SKILL.md
  .coderabbitignore
Due: none

chore: Add ASK-0040 backlog task — consolidate .env.example and .env.template
  delegation/tasks/1-backlog/ASK-0040-consolidate-env-templates.md
Due: validate-task-status

chore: Bump evaluator library to v0.5.0
  scripts/project
Due: none

ASK-0039: Add DK004 lint rule for bare except Exception: pass (#22)
  .adversarial/inputs/ASK-0039-code-review-input.md
  .adversarial/inputs/ASK-0039-spec-compliance-input.md
  .agent-context/ASK-0039-REVIEW-STARTER.md
  .agent-context/reviews/ASK-0039-evaluator-review.md
  delegation/tasks/3-in-progress/ASK-0039-workflow-verify-full-tdd-lifecycle.md
  delegation/tasks/4-in-review/ASK-0039-workflow-verify-full-tdd-lifecycle.md
  scripts/pattern_lint.py
  scripts/validate_task_status.py
  tests/test_pattern_lint.py
Due: pattern-lint, validate-task-status

chore: Move ASK-0039 to done (PR #22 merged)
  delegation/tasks/5-done/ASK-0039-workflow-verify-full-tdd-lifecycle.md
Due: validate-task-status

chore: Prep ASK-0040 — consolidate env templates (task spec + handoff)
  .agent-context/ASK-0040-HANDOFF-feature-developer-v3.md
  .agent-context/agent-handoffs.json
  delegation/tasks/1-backlog/ASK-0040-consolidate-env-templates.md
  delegation/tasks/2-todo/ASK-0040-consolidate-env-templates.md
Due: validate-task-status

ASK-0040: Make .env.template the single canonical env template
  .adversarial/scripts/evaluate_plan.sh
  .adversarial/scripts/proofread_content.sh
  .adversarial/scripts/review_implementation.sh
  .adversarial/scripts/validate_tests.sh
  .claude/agents/feature-developer-v3.md
  .claude/agents/feature-developer.md
  .env.example
  delegation/tasks/3-in-progress/ASK-0040-consolidate-env-templates.md
Due: validate-task-status

ASK-0040: Make .env.template the single canonical env template (#23)
  .adversarial/scripts/evaluate_plan.sh
  .adversarial/scripts/proofread_content.sh
  .adversarial/scripts/review_implementation.sh
  .adversarial/scripts/validate_tests.sh
  .claude/agents/feature-developer-v3.md
  .claude/agents/feature-developer.md
  .env.example
  delegation/tasks/3-in-progress/ASK-0040-consolidate-env-templates.md
Due: validate-task-status

chore: Move ASK-0040 to done (PR #23 merged)
  delegation/tasks/3-in-progress/ASK-0040-consolidate-env-templates.md
Due: validate-task-status

fix: Prevent feature-developer-v3 self-delegation
  .claude/agents/TASK-STARTER-TEMPLATE.md
  .claude/agents/feature-developer-v3.md
Due: none

chore: Clean up stale task statuses and orphaned review artifacts
  .agent-context/CI-CHECKER-FIX-REVIEW-STARTER.md
  .agent-context/reviews/CI-CHECKER-FIX-review.md
  delegation/tasks/3-in-progress/ASK-0035-linear-deps-optional.md
  delegation/tasks/4-in-review/ASK-0039-workflow-verify-full-tdd-lifecycle.md
  delegation/tasks/5-done/ASK-0039-workflow-verify-full-tdd-lifecycle.md
  delegation/tasks/5-done/ASK-0040-consolidate-env-templates.md
Due: validate-task-status

chore: Prep ASK-0036 — expand reconfigure (task spec + handoff)
  .agent-context/ASK-0036-HANDOFF-feature-developer-v3.md
  .agent-context/agent-handoffs.json
  delegation/tasks/2-todo/ASK-0036-expand-reconfigure.md
Due: validate-task-status

feat(ASK-0036): Expand reconfigure to catch all identity leaks
  delegation/tasks/3-in-progress/ASK-0036-expand-reconfigure.md
  scripts/project
  tests/test_project_script.py
Due: pattern-lint, validate-task-status

fix: Address bot review findings on PR #24
  scripts/project
  tests/test_project_script.py
Due: pattern-lint

fix: Narrow logging_config pattern, remove unused capsys
  scripts/project
  tests/test_project_script.py
Due: pattern-lint

fix: Handle errored files in return value and exclude tests/ from verify
  scripts/project
  tests/test_project_script.py
Due: pattern-lint

Path conditions:
  pattern-lint: any of: \.py$
  validate-task-status: any of: ^delegation/tasks/.*\.md$
