Repository movito/agentive-starter-kit: changes, and which pre-commit hooks are due for each by the changed paths.
All: pattern-lint, validate-task-status

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# Setup: pre-commit install
# Run all: pre-commit run --all-files
# Skip tests: SKIP_TESTS=1 git commit -m "WIP"

repos:
  # General file quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: check-toml
        name: Check TOML syntax

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        name: Format code with Black
        args: ['--line-length=88']
        language_version: python3

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: Sort imports with isort
        args: ['--profile=black', '--line-length=88']

  # Linting (critical errors only)
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        name: Check with flake8
        args: [
          '--max-line-length=88',
          '--extend-ignore=E203,W503',
          '--select=E9,F63,F7,F82'
        ]

  # Project-specific pattern lint (catches recurring bot-finding patterns)
  - repo: local
    hooks:
      - id: pattern-lint
        name: Check for common code patterns (DK rules)
        entry: python3 scripts/pattern_lint.py
        language: system
        types: [python]
        stages: [pre-commit]

  # Validate task status matches folder
  - repo: local
    hooks:
      - id: validate-task-status
        name: Validate task status matches folder
        entry: python scripts/validate_task_status.py
        language: python
        files: ^delegation/tasks/.*\.md$
        pass_filenames: true
        stages: [pre-commit]

  # Run fast tests before commit (optional - skips if no tests)
  # To skip: SKIP_TESTS=1 git commit -m "WIP"
  - repo: local
    hooks:
      - id: pytest-fast
        name: Run fast tests (pre-commit guard)
        entry: bash -c 'if [ "$SKIP_TESTS" = "1" ]; then echo "Skipping tests (SKIP_TESTS=1)"; exit 0; fi; if [ -d "tests" ] && [ -n "$(find tests -name "test_*.py" 2>/dev/null)" ]; then pytest tests/ -v --tb=short -x -m "not slow" --maxfail=3 || (echo ""; echo "Fast tests failed! Fix before committing or use:"; echo "  SKIP_TESTS=1 git commit -m \"WIP\""; exit 1); else echo "No tests found, skipping"; fi'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
        verbose: true

fix: Path-segment exclusion and reject unrecognized git URL formats
  scripts/project
  tests/test_project_script.py
Due: pattern-lint

fix: Hybrid exclusion matching and reject unknown reconfigure flags
  scripts/project
  tests/test_project_script.py
Due: pattern-lint

feat(ASK-0036): Expand reconfigure to catch all identity leaks (#24)
  delegation/tasks/3-in-progress/ASK-0036-expand-reconfigure.md
  scripts/project
  tests/test_project_script.py
Due: pattern-lint, validate-task-status

chore: Update /retro command to save retros to file
  .claude/commands/retro.md
Due: none

feat: Add project bootstrap script and agent
  .claude/agents/bootstrap.md
  docs/tmux-tips.md
  pyproject.toml
  scripts/bootstrap.sh
  scripts/setup-dev.sh
Due: none

fix: Correct evaluator names in agent definitions
  .claude/agents/feature-developer-v3.md
  .claude/agents/planner2.md
Due: none

fix: Move dispatch-kit to optional [local] extra
  pyproject.toml
Due: none

fix: Correct evaluator names in agent definitions (#28)
  .claude/agents/feature-developer-v3.md
  .claude/agents/planner2.md
  pyproject.toml
Due: none

chore: Release v0.3.3
  CHANGELOG.md
  README.md
  delegation/tasks/5-done/ASK-0036-expand-reconfigure.md
  pyproject.toml
Due: validate-task-status

chore: Update Black version references and reformat for v26.1.0
  .agent-context/ASK-0039-HANDOFF-feature-developer-v3.md
  .pre-commit-config.yaml
  CLAUDE.md
  scripts/sync_tasks_to_linear.py
  tests/test_pattern_lint.py
Due: pattern-lint

chore: Add ASK-0041 housekeeping task for loose ends
  delegation/tasks/2-todo/ASK-0041-housekeeping-loose-ends.md
Due: validate-task-status

chore: Bump evaluator library to v0.5.2 (gemini-3-pro deprecation)
  scripts/project
Due: none

test: Add DK002 tests to fix CI coverage (77% → 85%)
  tests/test_pattern_lint.py
Due: pattern-lint

fix: Address bot review feedback (BugBot + CodeRabbit)
  .claude/agents/feature-developer.md
  .github/workflows/sync-core-scripts.yml
  scripts/core/VERSION
  scripts/core/check-sync.sh
  scripts/core/project
  scripts/core/verify-ci.sh
  scripts/core/verify-setup.sh
Due: none

fix: Align .core-manifest.json version with VERSION (1.2.0)
  scripts/.core-manifest.json
Due: none

fix: Address round 3 bot feedback
  .github/workflows/sync-core-scripts.yml
  scripts/.core-manifest.json
  scripts/core/check-sync.sh
Due: none

fix: Address round 4 bot feedback
  .github/workflows/sync-core-scripts.yml
  scripts/core/check-sync.sh
Due: none

fix: Remove nonexistent start-daemons.sh references, add git user config to sync workflow
  .claude/agents/planner.md
  .claude/agents/planner2.md
  .claude/agents/tycho.md
  .github/workflows/sync-core-scripts.yml
Due: none

fix: Use git status --porcelain to detect untracked files in sync workflow
  .github/workflows/sync-core-scripts.yml
Due: none

fix: Correct project_dir path after scripts/core/ move
  delegation/tasks/5-done/ASK-0042-scripts-core-restructure.md
  scripts/core/project
  tests/conftest.py
Due: pattern-lint, validate-task-status

chore: Release v0.4.0 — scripts restructure with upgrade guide
  CHANGELOG.md
  docs/UPGRADE-0.4.0.md
  pyproject.toml
Due: none

chore: Clean up ASK-0042 artifacts and add KIT-0024 cross-project tracker
  .agent-context/ASK-0042-HANDOFF-feature-developer-v3.md
  .agent-context/agent-handoffs.json
  delegation/tasks/2-todo/KIT-0024-core-scripts-standardization.md
  delegation/tasks/3-in-progress/ASK-0042-scripts-core-restructure.md
Due: validate-task-status

fix: Resolve issues #34 and #36 from GitHub issue triage
  .claude/agents/feature-developer.md
  .claude/agents/test-runner.md
  scripts/core/check-bots.sh
  scripts/core/preflight-check.sh
Due: none

chore: Create backlog tasks from GitHub issue triage
  delegation/tasks/1-backlog/ASK-0043-root-resolution-preamble.md
  delegation/tasks/1-backlog/ASK-0044-separate-kit-internals.md
  delegation/tasks/1-backlog/ASK-0045-linear-sync-test-imports.md
Due: validate-task-status

chore: ASK-0041 housekeeping — commit retros, gitignore bus.jsonl
  .agent-context/retros/ASK-0036-retro.md
  .gitignore
Due: none

chore: Promote ASK-0045 to todo with handoff for feature-developer-v5
  .agent-context/ASK-0045-HANDOFF-feature-developer-v5.md
  .agent-context/agent-handoffs.json
  delegation/tasks/2-todo/ASK-0045-linear-sync-test-imports.md
Due: validate-task-status

fix: Update import paths in Linear sync modules after v0.4.0 restructure
  .agent-context/current-state.json
  .claude/agents/feature-developer-v5.md
  delegation/tasks/1-backlog/ASK-0045-linear-sync-test-imports.md
  delegation/tasks/3-in-progress/ASK-0045-linear-sync-test-imports.md
  delegation/tasks/5-done/ASK-0041-housekeeping-loose-ends.md
  scripts/optional/linear_sync_utils.py
  scripts/optional/sync_tasks_to_linear.py
  tests/test_linear_sync.py
Due: pattern-lint, validate-task-status

fix: Use stdlib logging fallback for direct script execution
  delegation/tasks/5-done/ASK-0041-housekeeping-loose-ends.md
  scripts/optional/linear_sync_utils.py
  scripts/optional/sync_tasks_to_linear.py
Due: pattern-lint, validate-task-status

chore: Complete ASK-0045 retro, add /babysit-pr command, update patterns
  .agent-context/agent-handoffs.json
  .agent-context/patterns.yml
  .agent-context/retros/ASK-0045-retro.md
  .claude/commands/babysit-pr.md
  delegation/tasks/5-done/ASK-0045-linear-sync-test-imports.md
Due: validate-task-status

feat: Upgrade manifest to tiered format and rewrite sync Action (KIT-0024)
  .agent-context/KIT-0024-HANDOFF-feature-developer.md
  .agent-context/agent-handoffs.json
  .github/workflows/sync-core-scripts.yml
  delegation/tasks/2-todo/KIT-0024-core-scripts-standardization.md
  delegation/tasks/3-in-progress/KIT-0024-core-scripts-standardization.md
  docs/decisions/starter-kit-adr/KIT-ADR-0022-manifest-based-sync-ownership.md
  scripts/.core-manifest.json
  scripts/core/VERSION
  tests/test_core_manifest.py
Due: pattern-lint, validate-task-status

fix: Address bot review findings on PR #39
  .agent-context/agent-handoffs.json
  .github/workflows/sync-core-scripts.yml
  tests/test_core_manifest.py
Due: pattern-lint

fix: Address BugBot findings — backtick injection and flat-manifest compat
  .github/workflows/sync-core-scripts.yml
Due: none

fix: Move WARNINGS to env block to avoid shell quoting issues
  .github/workflows/sync-core-scripts.yml
Due: none

fix: Use jq --arg for safe interpolation and guard empty WARNINGS
  .github/workflows/sync-core-scripts.yml
Due: none

chore: Add evaluator review and review starter for KIT-0024
  .adversarial/inputs/KIT-0024-code-review-input.md
  .agent-context/KIT-0024-REVIEW-STARTER.md
  .agent-context/reviews/KIT-0024-evaluator-review.md
Due: none

chore: Move KIT-0024 to in-review
  delegation/tasks/4-in-review/KIT-0024-core-scripts-standardization.md
Due: validate-task-status

chore: Add evaluator reviews (arch + code) and KIT-0025 task spec
  .agent-context/reviews/KIT-0024-arch-review-fast.md
  .agent-context/reviews/KIT-0024-code-reviewer.md
  delegation/tasks/1-backlog/KIT-0025-pr-based-evaluator-runner.md
Due: validate-task-status

chore: Complete KIT-0024 — retro and task closure
  .agent-context/retros/KIT-0024-retro.md
  delegation/tasks/5-done/KIT-0024-core-scripts-standardization.md
Due: validate-task-status
