Repository movito/agentive-starter-kit: changes, and which pre-commit hooks are due for each by the changed paths.
All: pattern-lint, validate-task-status

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
#
# Setup: pre-commit install
# Run all: pre-commit run --all-files
# Skip tests: SKIP_TESTS=1 git commit -m "WIP"

repos:
  # General file quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: check-toml
        name: Check TOML syntax

  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        name: Format code with Black
        args: ['--line-length=88']
        language_version: python3

  # Import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: Sort imports with isort
        args: ['--profile=black', '--line-length=88']

  # Linting (critical errors only)
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        name: Check with flake8
        args: [
          '--max-line-length=88',
          '--extend-ignore=E203,W503',
          '--select=E9,F63,F7,F82'
        ]

  # Project-specific pattern lint (catches recurring bot-finding patterns)
  - repo: local
    hooks:
      - id: pattern-lint
        name: Check for common code patterns (DK rules)
        entry: python3 scripts/pattern_lint.py
        language: system
        types: [python]
        stages: [pre-commit]

  # Validate task status matches folder
  - repo: local
    hooks:
      - id: validate-task-status
        name: Validate task status matches folder
        entry: python scripts/validate_task_status.py
        language: python
        files: ^delegation/tasks/.*\.md$
        pass_filenames: true
        stages: [pre-commit]

  # Run fast tests before commit (optional - skips if no tests)
  # To skip: SKIP_TESTS=1 git commit -m "WIP"
  - repo: local
    hooks:
      - id: pytest-fast
        name: Run fast tests (pre-commit guard)
        entry: bash -c 'if [ "$SKIP_TESTS" = "1" ]; then echo "Skipping tests (SKIP_TESTS=1)"; exit 0; fi; if [ -d "tests" ] && [ -n "$(find tests -name "test_*.py" 2>/dev/null)" ]; then pytest tests/ -v --tb=short -x -m "not slow" --maxfail=3 || (echo ""; echo "Fast tests failed! Fix before committing or use:"; echo "  SKIP_TESTS=1 git commit -m \"WIP\""; exit 1); else echo "No tests found, skipping"; fi'
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
        verbose: true

feat(ASK-0043): Add root-resolution preamble to all shell scripts
  delegation/tasks/3-in-progress/ASK-0043-root-resolution-preamble.md
  scripts/core/check-bots.sh
  scripts/core/check-sync.sh
  scripts/core/ci-check.sh
  scripts/core/gh-review-helper.sh
  scripts/core/preflight-check.sh
  scripts/core/verify-ci.sh
  scripts/core/verify-setup.sh
  scripts/core/wait-for-bots.sh
  scripts/local/bootstrap.sh
  scripts/optional/create-agent.sh
  scripts/optional/setup-dev.sh
Due: validate-task-status

fix: Address bot review findings on root-resolution preamble
  scripts/core/check-bots.sh
  scripts/core/gh-review-helper.sh
  scripts/core/preflight-check.sh
  scripts/core/verify-ci.sh
  scripts/core/wait-for-bots.sh
  scripts/local/bootstrap.sh
Due: none

chore: Add evaluator review for ASK-0043
  .adversarial/inputs/ASK-0043-code-review-input.md
  .agent-context/reviews/ASK-0043-evaluator-review.md
Due: none

chore: Move ASK-0043 to in-review with review starter
  .agent-context/ASK-0043-REVIEW-STARTER.md
  delegation/tasks/4-in-review/ASK-0043-root-resolution-preamble.md
Due: validate-task-status

docs: Fix review starter and task spec accuracy per CodeRabbit
  .agent-context/ASK-0043-REVIEW-STARTER.md
  delegation/tasks/4-in-review/ASK-0043-root-resolution-preamble.md
Due: validate-task-status

chore: Clean up stale task copies and fix wording per CodeRabbit
  delegation/tasks/1-backlog/ASK-0043-root-resolution-preamble.md
  delegation/tasks/3-in-progress/ASK-0043-root-resolution-preamble.md
  delegation/tasks/4-in-review/ASK-0043-root-resolution-preamble.md
Due: validate-task-status

feat(ASK-0043): Add root-resolution preamble to all shell scripts (#40)
  .adversarial/inputs/ASK-0043-code-review-input.md
  .agent-context/ASK-0043-REVIEW-STARTER.md
  .agent-context/reviews/ASK-0043-evaluator-review.md
  delegation/tasks/4-in-review/ASK-0043-root-resolution-preamble.md
  scripts/core/check-bots.sh
  scripts/core/check-sync.sh
  scripts/core/ci-check.sh
  scripts/core/gh-review-helper.sh
  scripts/core/preflight-check.sh
  scripts/core/verify-ci.sh
  scripts/core/verify-setup.sh
  scripts/core/wait-for-bots.sh
  scripts/local/bootstrap.sh
  scripts/optional/create-agent.sh
  scripts/optional/setup-dev.sh
Due: validate-task-status

chore: Complete ASK-0043 — move task to done
  delegation/tasks/5-done/ASK-0043-root-resolution-preamble.md
Due: validate-task-status

fix(ASK-0044): Keep all slash commands in .claude/commands/
  .claude/commands/babysit-pr.md
  .claude/commands/check-spec.md
  .claude/commands/retro.md
  .claude/commands/status.md
  .claude/commands/triage-threads.md
  .claude/commands/wrap-up.md
  .kit/delegation/tasks/1-backlog/ASK-0046-relocate-handoffs-to-delegation.md
  CLAUDE.md
  tests/test_core_manifest.py
Due: pattern-lint

fix(ASK-0044): Address CodeRabbit review — fix remaining stale paths
  .kit/adversarial/docs/EVALUATION-WORKFLOW.md
  .kit/agents/OPERATIONAL-RULES.md
  .kit/agents/planner.md
  .kit/agents/tycho.md
Due: none

fix(ASK-0044): Fix critical move_task path + remaining stale references
  .kit/context/AGENT-SYSTEM-GUIDE.md
  .kit/context/research/miriad/SHARED-BOARD-ARTIFACTS.md
  .kit/context/workflows/TASK-COMPLETION-PROTOCOL.md
  .kit/docs/LINEAR-SYNC-BEHAVIOR.md
  README.md
  scripts/core/project
Due: none

fix(ASK-0044): Update AGENT-SYSTEM-GUIDE to Linear-compatible folder names
  .kit/context/AGENT-SYSTEM-GUIDE.md
Due: none

chore(ASK-0044): Remove tycho.md — superseded by planner2
  .kit/agents/TASK-STARTER-TEMPLATE.md
  .kit/agents/tycho.md
  .kit/launchers/launch
  CLAUDE.md
  README.md
Due: none

fix(ASK-0044): Move all agents back to .claude/agents/, rename .kit/agents/ to .kit/templates/
  .claude/agents/code-reviewer.md
  .claude/agents/document-reviewer.md
  .claude/agents/planner.md
  .claude/agents/planner2.md
  .claude/agents/security-reviewer.md
  .kit/delegation/tasks/1-backlog/ASK-0046-relocate-handoffs-to-delegation.md
  .kit/docs/LINEAR-SYNC-BEHAVIOR.md
  .kit/templates/AGENT-TEMPLATE.md
  .kit/templates/OPERATIONAL-RULES.md
  .kit/templates/TASK-STARTER-TEMPLATE.md
  CLAUDE.md
  README.md
  scripts/optional/create-agent.sh
  tests/conftest.py
  tests/test_create_agent.py
Due: pattern-lint

feat(ASK-0044): Add kit_builder sync tier and consumer bootstrap
  .claude/agents/onboarding.md
  .github/workflows/sync-core-scripts.yml
  .kit/tasks/1-backlog/KIT-0025-pr-based-evaluator-runner.md
  README.md
  scripts/.core-manifest.json
  scripts/core/VERSION
  scripts/core/check-sync.sh
  scripts/local/bootstrap-consumer.sh
  tests/test_core_manifest.py
Due: pattern-lint

fix(ASK-0044): Fix stale .kit/delegation/tasks paths in project script
  scripts/core/project
Due: none

fix(ASK-0044): Fix stale paths in launchers, config template, README, and conftest
  .kit/adversarial/config.yml.template
  .kit/launchers/launch
  .kit/launchers/onboarding
  README.md
  tests/conftest.py
Due: pattern-lint

chore: Update stale comment in pyproject.toml
  pyproject.toml
Due: none

chore: Complete ASK-0044 — retro, review insights, handoff update
  .kit/context/REVIEW-INSIGHTS.md
  .kit/context/agent-handoffs.json
  .kit/context/retros/ASK-0044-retro.md
  .kit/tasks/5-done/ASK-0044-separate-kit-internals.md
Due: none

chore: Add ASK-0047 handoff — flatten ADR directory structure
  .kit/context/ASK-0047-HANDOFF-feature-developer.md
Due: none

fix: Resolve symlink in launchers before deriving PROJECT_ROOT
  .kit/adr/KIT-ADR-0001-system-prompt-size-considerations.md
  .kit/adr/KIT-ADR-0002-serena-mcp-integration.md
  .kit/adr/KIT-ADR-0003-linear-sync-vs-mcp.md
  .kit/adr/KIT-ADR-0004-adversarial-workflow-integration.md
  .kit/adr/KIT-ADR-0005-test-infrastructure-strategy.md
  .kit/adr/KIT-ADR-0006-agent-session-initialization.md
  .kit/adr/KIT-ADR-0007-dependabot-automation.md
  .kit/adr/KIT-ADR-0008-configuration-architecture.md
  .kit/adr/KIT-ADR-0009-logging-observability.md
  .kit/adr/KIT-ADR-0010-openapi-specification-strategy.md
  .kit/adr/KIT-ADR-0011-api-versioning-strategy.md
  .kit/adr/KIT-ADR-0012-task-status-linear-alignment.md
  .kit/adr/KIT-ADR-0013-realtime-task-monitoring.md
  .kit/adr/KIT-ADR-0014-code-review-workflow.md
  .kit/adr/KIT-ADR-0015-mcp-tool-addition-pattern.md
  .kit/adr/KIT-ADR-0016-validation-architecture.md
  .kit/adr/KIT-ADR-0017-api-testing-infrastructure.md
  .kit/adr/KIT-ADR-0018-workflow-observation.md
  .kit/adr/KIT-ADR-0019-review-knowledge-extraction.md
  .kit/adr/KIT-ADR-0020-research-quality-coupling-strategy.md
  .kit/adr/KIT-ADR-0021-B-realtime-agent-communication.md
  .kit/adr/KIT-ADR-0021-realtime-agent-communication.md
  .kit/adr/KIT-ADR-0022-manifest-based-sync-ownership.md
  .kit/adr/KIT-ADR-0023-builder-project-separation.md
  .kit/adr/about-kit-adr.md
  .kit/launchers/launch
  .kit/launchers/onboarding
  docs/adr/TEMPLATE-FOR-ADR-FILES.md
  docs/adr/about-adr.md
Due: none

fix(ASK-0047): Address CodeRabbit findings — missed path references
  .kit/context/workflows/ADR-CREATION-WORKFLOW.md
  scripts/core/check-sync.sh
  scripts/core/project
  tests/test_project_script.py
Due: pattern-lint

chore: Complete ASK-0047 — retro, review insights, handoff update
  .kit/context/REVIEW-INSIGHTS.md
  .kit/context/agent-handoffs.json
  .kit/context/retros/ASK-0047-retro.md
Due: none

chore: Add KIT-0026 task spec, fix adversarial symlink, document gotcha
  .adversarial
  .kit/context/REVIEW-INSIGHTS.md
  .kit/context/agent-handoffs.json
  .kit/tasks/1-backlog/KIT-0026-sync-agents-and-skills-to-downstream.md
Due: none

chore: Revert .adversarial symlink, file ADV-0053 for proper CLI fix
  .adversarial
  .kit/context/REVIEW-INSIGHTS.md
  .kit/tasks/1-backlog/ADV-0053-adversarial-cli-configurable-dir.md
Due: none

chore: Restore .adversarial symlink — needed until ADV-0053 ships
  .adversarial
  .kit/context/REVIEW-INSIGHTS.md
Due: none

chore: Repo root cleanup — remove stale files, relocate docs
  .claude/agents/feature-developer-v5.md
  .env.example
  .gitignore
  .kit/docs/tmux-tips.md
  docs/archive/UPSTREAM-CHANGES-2025-01-28.md
Due: none

chore: Release v0.5.0
  CHANGELOG.md
  README.md
  pyproject.toml
Due: none

docs: Add .kit/ migration playbook for downstream repos
  .kit/docs/KIT-MIGRATION-PLAYBOOK.md
Due: none

docs: Add ADR-0007 unified artifact registry + ASK-0048 task spec
  .kit/context/agent-handoffs.json
  .kit/tasks/2-todo/ASK-0048-unified-artifact-registry.md
  docs/adr/ADR-0007-unified-artifact-registry.md
  docs/adr/ASK-UNIFIED-REGISTRY-TASK-STARTER.md
Due: none

feat: Add unified artifact registry metadata (ASK-0048 Phase 1)
  .claude/agents/agent-creator.md
  .claude/agents/bootstrap.md
  .claude/agents/ci-checker.md
  .claude/agents/code-reviewer.md
  .claude/agents/document-reviewer.md
  .claude/agents/feature-developer-v3.md
  .claude/agents/feature-developer-v5.md
  .claude/agents/feature-developer.md
  .claude/agents/onboarding.md
  .claude/agents/planner.md
  .claude/agents/planner2.md
  .claude/agents/powertest-runner.md
  .claude/agents/security-reviewer.md
  .claude/agents/test-runner.md
  .claude/skills/bot-triage/SKILL.md
  .claude/skills/pre-implementation/SKILL.md
  .kit/registry/index.yml
  .kit/skills/code-review-evaluator/SKILL.md
  .kit/skills/review-handoff/SKILL.md
  .kit/skills/self-review/SKILL.md
  .kit/tasks/3-in-progress/ASK-0048-unified-artifact-registry.md
  CLAUDE.md
  scripts/.core-manifest.json
  scripts/core/compute_content_hash.py
  tests/test_compute_content_hash.py
  tests/test_core_manifest.py
Due: pattern-lint

fix: Address bot review findings on content hash extraction
  docs/adr/ADR-0007-unified-artifact-registry.md
  scripts/core/compute_content_hash.py
  tests/test_compute_content_hash.py
Due: pattern-lint

fix: Address bot review findings — markdownlint, code fences, handoff path
  .kit/context/agent-handoffs.json
  docs/adr/ADR-0007-unified-artifact-registry.md
Due: none

chore: Add evaluator review artifacts for ASK-0048
  .adversarial/inputs/ASK-0048-code-review-input.md
  .kit/context/reviews/ASK-0048-evaluator-review.md
Due: none
